@model MvcSkiOprema.Models.Rezervacija

@{
    ViewBag.Title = "Brisanje rezervacije";
}

<h2>@ViewBag.Title</h2>

<h3>Jeste li sigurni da želite pobrisati ovu rezervaciju?</h3>
<fieldset>
    <legend>Rezervacija</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DatumOd)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DatumOd)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DatumDo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DatumDo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Odobreno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Odobreno)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Napomena)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Napomena)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UkupnaCijena)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UkupnaCijena)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Pobriši" /> |
        @Html.ActionLink("Povratak", "Index")
    </p>
}
